/*-------------------  START buttons & links  -----------------*/
	.read_more{
		color: #818284;
		font-size: 14px;
		font-weight: 500;
		line-height: 1.8;
		text-transform: uppercase;
		text-decoration: underline;
	}
	.read_more:hover{
		color: #818284;
		text-decoration: none;
	}

	.simple_link{
		color: #58585a;
		font-size: 15px;
		line-height: 1.5;
		font-weight: 400;
		line-height: 23px;
		padding-left: 22px;
		font-family: 'Tahoma';
		margin-right: 15px;
		
		background: url(../images/icons/grey_arrow.png) 0% 50% no-repeat;
	}
	.simple_link:hover{
		color: #58585a;
		text-decoration: underline;
	}

	.pdf_link,
	.cad_link{
		margin: 10px 0;
		color: #58585a;
		font-size: 18px;
		line-height: 20px;
		display: inline-block;
		padding: 10px 0  2px 35px;
		text-decoration: underline;
	}
	.pdf_link{background: url(../images/icons/pdf_icon.png) 0% 50% no-repeat;}
	.cad_link{background: url(../images/icons/cad_icon.png) 0% 50% no-repeat;}
	
	.pdf_link:hover,
	.cad_link:hover{
		color: #58585a;
		text-decoration: none;
	}



	/* .bt1{
	    font-size: 14px;
		line-height: 20px;
	    padding: 10px 58px;
	    border-radius: 4px;
	    text-decoration: none;
	    background-color: #fff100;
	    border: 1px solid #fff100;
	}
	
	.bt2{
	    font-size: 14px;
		line-height: 24px;
	    border-radius: 4px;
	    padding: 13px 51px;
	    text-decoration: none;
	    background-color: #fff100;
	    border: 1px solid #fff100;
	} */
	
	.btn{
		font-size: 14px;
		line-height: 1;
		padding: 13px 55px 11px !important;
		text-decoration: none;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
		border: 1px solid transparent;
	}
	.btn:hover{
		color: #fff100;
		background-color: #231f20;
		border: 1px solid #fff100;
	}

	.btn1{padding: 11px 41px;}
	.btn2{padding: 13px 49px 11px;}

	.black_btn{
		font-size: 12px;
		padding: 13px 23px;
		border: 1px solid #fff;
	}
	.black_btn:hover{
		border: 1px solid #fff100;
	}

	.grey_btn{
		width: 194px;
		padding: 11px 12px;
		text-align: center;
	}
	.grey_btn:hover{
		color: #A8A9AD;
		border: 1px solid #A8A9AD;
		background-color: #fff;
	}

	.download_btn{
		color: #FFF;
		font-size: 14px;
		position: relative;
		padding: 14px 102px 12px 62px;
		background-color: #818284;
		text-transform: uppercase;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
	}
		.download_btn:after{
			content: "";
			position: absolute;
			right: 0;
			top: 0;
			width: 40px;
			height: 40px;
			-webkit-border-radius: 0 4px 4px 0;
			        border-radius: 0 4px 4px 0;
			background: #58585a url(../images/icons/download_icon.png) 50% 50% no-repeat;
		}
	.download_btn:hover{
		color: #fff;
		background-color: #58585A;
	}

/*-------------------  END buttons & links  -----------------*/
