/*-------------------  START font-weight  -----------------*/

	.filter_select{
		width: 385px !important;
		/*padding: 14px;*/
		border: 1px solid #d2d3d5;
		-webkit-border-radius: 4px;
		        border-radius: 4px;
	}
	.filter_select .jq-selectbox__select-text{
		width: 100% !important;
		color: #a8a9ad;
	}
		.jq-selectbox ul{
			box-shadow: 0px 1px 6px #c7c7c7;
		}
		
/*-------------------  END font-weight  -----------------*/
