/*-------------------  START background-colors  -----------------*/
	[data-bg="diagonal_pattern"]{
		background-position: 0 0;
		background-repeat: repeat;
		background-image: url(../images/diagonal_pattern.png);
	}

	[data-bg="diagonal_pattern_white"]{
		background-position: 0 0;
		background-repeat: repeat;
		background-image: url(../images/diagonal_pattern_white.png);
	}

	[data-bg="diagonal_pattern_grey"]{
		background-position: 0 0;
		background-repeat: repeat;
		background-image: url(../images/diagonal_pattern_grey.png);
	}
/*-------------------  END background-colors  -----------------*/
