/*-------------------  START news  -----------------*/

	.third_block_wrapper{
		margin: 0 -4.5px;
	}
		.third_box{
			float: left;
			margin: 0 4.5px 25px 4.5px;
		}
			.third_box .img_box{
				width: 100%;
				height: 252px;
				margin-bottom: 20px;
			}

/*-------------------  END news  -----------------*/