/*-------------------  START Tab blocks  -----------------*/

	.tabs_block .resp-tabs-list .resp-tab-item:hover, 
	.tabs_block .resp-tabs-list .resp-tab-active{
	    background-color: #fff100;
	}
		.tabs_block .resp-tabs-list,
		.single_tab .resp-tabs-list{
		  text-align: center;
		}

			.tabs_block .resp-tabs-list li,
			.single_tab .resp-tabs-list li{
				width: 282.5px;
			    background-color: white;
			    border-radius: 4px 4px 0 0;
			    display: inline-block;
			    padding: 10px 20px;
			    text-align: center;
			    color: #231f20;
			    margin: 0 -1px;
			    font-size: 18px;
			    line-height: 1;
			    text-transform: uppercase;
			    cursor: pointer;
			    vertical-align: baseline;
			}

		.single_tab .resp-tabs-list{
			margin-bottom: 60px;
			border-bottom: 4px solid #fff100;
		}
			.single_tab .resp-tabs-list li{
				cursor: normal;
				background-color: #fff100;
			}
			.tabs_block .resp-tabs-container {
			    border-top: 4px solid #fff100;
			    padding: 60px 0;
			}

			.tabs_block .resp-tabs-list .resp-tab-active {
			    padding-top: 15px;
			}

	.tab_img_box{
		width: 100%;
		height: 312px;
		text-align: center;
		background-color: #f4f4f4;
	}
		.tab_img_box img{
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}

	/*---------  DISIPLINE BLOCK  ---------*/
		.discipline_block{
			margin: -52px -1px 0;
		}
			.discipline_box{
				float: left;
				width: 32.5%;
				height: 206px;
				margin: 1px;
				position: relative;
				padding: 122px 10px 20px;
				border: 3px solid #231f20;
				
				color: #231f20;
				font-size: 15px;
				line-height: 1.3;
				text-align: center;
				font-family: 'din-boldregular';
			}

			.discipline_box:hover{
				color: #FFF;
				background: #231f20 url(../images/diagonal_pattern.png) 0% 0% repeat;
			}

			.discipline_scroll_box{
				height: 223px;
				padding-right: 15px;
				-ms-overflow-y: auto;
				    overflow-y: auto;
			}

			.owl_carousel{
				width: 100%;
				text-align: center;
				background-color: #FFF;
				margin-top: 25px;
				border: 1px solid #d2d3d5;
			}
				.discipline_scroll_box+.owl_carousel .owl-pagination{
					position: absolute;
					margin: 0 auto;
    				display: inline-block;
    				bottom: -48px;
				}
				.discipline_scroll_box+.owl_carousel .owl-page{
					width: 15px;
				    height: 15px;
				    display: block;
				    margin: 0 6px;
				    text-align: center;
				    display: inline-block;
				    border: 1px solid #a8a9ad;
				    -webkit-border-radius: 4px;
				            border-radius: 4px;
				    background-color: transparent;
				}
				.discipline_scroll_box+.owl_carousel .owl-page.active{
				    background-color: #a8a9ad;
				}

			/*.discipline_box img{
				-webkit-filter: grayscale(100%);
				-webkit-transition: .5s ease-in-out;
				-moz-filter: grayscale(100%); 
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(100%); 
				-o-transition: .5s ease-in-out;
			}

			.discipline_box:hover img{
			    -webkit-filter: grayscale(0%);
				-webkit-transition: .5s ease-in-out;
				-moz-filter: grayscale(0%);
				-moz-transition: .5s ease-in-out;
				-o-filter: grayscale(0%);
				-o-transition: .5s ease-in-out;
			}*/

			.box1:before,
			.box2:before,
			.box3:before,
			.box4:before,
			.box5:before,
			.box6:before,
			.box7:before,
			.box8:before,
			.box9:before{
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 130px;
				content: '';
				position: absolute;
			}
			.box1:before{background: url(../images/icons/icon_img1.png) 50% 50% no-repeat;}
			.box2:before{background: url(../images/icons/icon_img2.png) 50% 50% no-repeat;}
			.box3:before{background: url(../images/icons/icon_img3.png) 50% 50% no-repeat;}
			.box4:before{background: url(../images/icons/icon_img4.png) 50% 50% no-repeat;}
			.box5:before{background: url(../images/icons/icon_img5.png) 50% 50% no-repeat;}
			.box6:before{background: url(../images/icons/icon_img6.png) 50% 50% no-repeat;}
			.box7:before{background: url(../images/icons/icon_img7.png) 50% 50% no-repeat;}
			.box8:before{background: url(../images/icons/icon_img8.png) 50% 50% no-repeat;}
			.box9:before{background: url(../images/icons/icon_img9.png) 50% 50% no-repeat;}

			.box1:hover:before{background: url(../images/icons/icon_img1_h.png) 50% 30px no-repeat;}
			.box2:hover:before{background: url(../images/icons/icon_img2_h.png) 50% 30px no-repeat;}
			.box3:hover:before{background: url(../images/icons/icon_img3_h.png) 50% 30px no-repeat;}
			.box4:hover:before{background: url(../images/icons/icon_img4_h.png) 50% 30px no-repeat;}
			.box5:hover:before{background: url(../images/icons/icon_img5_h.png) 50% 30px no-repeat;}
			.box6:hover:before{background: url(../images/icons/icon_img6_h.png) 50% 30px no-repeat;}
			.box7:hover:before{background: url(../images/icons/icon_img7_h.png) 50% 30px no-repeat;}
			.box8:hover:before{background: url(../images/icons/icon_img8_h.png) 50% 30px no-repeat;}
			.box9:hover:before{background: url(../images/icons/icon_img9_h.png) 50% 30px no-repeat;}


		
/*-------------------  END Tab blocks  -----------------*/
