/*-------------------  START background-colors  -----------------*/
	.text1{
	   font-size: 15px;
		line-height: 1.6;
		font-family: 'dinmedium';

	}
	[data-skin="grey_gradient"]{
  background-color: #FFF;
  background-image: radial-gradient(circle 729px at center, white 0%, #e7e7e8 100%);
 }
 .b_left{
 	border-left: 3px solid #d2d3d5; 
    padding-left: 20px;
 }
/*-------------------  END background-colors  -----------------*/
