@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Open+Sans:400,800";
@import url(../font/din_font/_din.css);
@import url(../font/_tahoma.css);
/* line 1, ../sass/_reset.scss */
a, abbr, acronym, address, applet, article, aside, audio, b, blockquote, big, body, center, canvas, caption, cite, code, command, datalist, dd, del, details, dfn, dl, div, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, keygen, label, legend, li, meter, nav, object, ol, output, p, pre, progress, q, s, samp, section, small, span, source, strike, strong, sub, sup, table, tbody, tfoot, thead, th, tr, tdvideo, tt, u, ul, var {
  background: transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
}

/* line 1, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 1, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 1, ../sass/_reset.scss */
table, table td {
  padding: 0;
  border: none;
  border-collapse: collapse;
}

/* line 1, ../sass/_reset.scss */
img {
  vertical-align: top;
}

/* line 1, ../sass/_reset.scss */
embed {
  vertical-align: top;
}

/* line 1, ../sass/_reset.scss */
input[type=text], textarea {
  outline: none;
  border-radius: 0;
}

/* line 1, ../sass/_reset.scss */
button {
  outline: none;
  background: none;
  border: none;
}

/*================== Bootstrap ========================*/
/* line 4, ../sass/_bootstrap_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  /* line 6, ../sass/_bootstrap_grid.scss */
  .container {
    width: 320px;
  }
}
@media (min-width: 768px) {
  /* line 9, ../sass/_bootstrap_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 12, ../sass/_bootstrap_grid.scss */
  .container {
    width: 950px;
  }
}
@media (max-width: 768px) {
  /* line 16, ../sass/_bootstrap_grid.scss */
  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 20, ../sass/_bootstrap_grid.scss */
  .container {
    width: 1170px;
  }
}
/* line 22, ../sass/_bootstrap_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 23, ../sass/_bootstrap_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 24, ../sass/_bootstrap_grid.scss */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 25, ../sass/_bootstrap_grid.scss */
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  box-sizing: border-box;
}

/* line 26, ../sass/_bootstrap_grid.scss */
.col-xs-12 {
  width: 100%;
}

/* line 27, ../sass/_bootstrap_grid.scss */
.col-xs-11 {
  width: 91.66666667%;
}

/* line 28, ../sass/_bootstrap_grid.scss */
.col-xs-10 {
  width: 83.33333333%;
}

/* line 29, ../sass/_bootstrap_grid.scss */
.col-xs-9 {
  width: 75%;
}

/* line 30, ../sass/_bootstrap_grid.scss */
.col-xs-8 {
  width: 66.66666667%;
}

/* line 31, ../sass/_bootstrap_grid.scss */
.col-xs-7 {
  width: 58.33333333%;
}

/* line 32, ../sass/_bootstrap_grid.scss */
.col-xs-6 {
  width: 50%;
}

/* line 33, ../sass/_bootstrap_grid.scss */
.col-xs-5 {
  width: 41.66666667%;
}

/* line 34, ../sass/_bootstrap_grid.scss */
.col-xs-4 {
  width: 33.33333333%;
}

/* line 35, ../sass/_bootstrap_grid.scss */
.col-xs-3 {
  width: 25%;
}

/* line 36, ../sass/_bootstrap_grid.scss */
.col-xs-2 {
  width: 16.66666667%;
}

/* line 37, ../sass/_bootstrap_grid.scss */
.col-xs-1 {
  width: 8.33333333%;
}

/* line 38, ../sass/_bootstrap_grid.scss */
.col-xs-pull-12 {
  right: 100%;
}

/* line 39, ../sass/_bootstrap_grid.scss */
.col-xs-pull-11 {
  right: 91.66666667%;
}

/* line 40, ../sass/_bootstrap_grid.scss */
.col-xs-pull-10 {
  right: 83.33333333%;
}

/* line 41, ../sass/_bootstrap_grid.scss */
.col-xs-pull-9 {
  right: 75%;
}

/* line 42, ../sass/_bootstrap_grid.scss */
.col-xs-pull-8 {
  right: 66.66666667%;
}

/* line 43, ../sass/_bootstrap_grid.scss */
.col-xs-pull-7 {
  right: 58.33333333%;
}

/* line 44, ../sass/_bootstrap_grid.scss */
.col-xs-pull-6 {
  right: 50%;
}

/* line 45, ../sass/_bootstrap_grid.scss */
.col-xs-pull-5 {
  right: 41.66666667%;
}

/* line 46, ../sass/_bootstrap_grid.scss */
.col-xs-pull-4 {
  right: 33.33333333%;
}

/* line 47, ../sass/_bootstrap_grid.scss */
.col-xs-pull-3 {
  right: 25%;
}

/* line 48, ../sass/_bootstrap_grid.scss */
.col-xs-pull-2 {
  right: 16.66666667%;
}

/* line 49, ../sass/_bootstrap_grid.scss */
.col-xs-pull-1 {
  right: 8.33333333%;
}

/* line 50, ../sass/_bootstrap_grid.scss */
.col-xs-pull-0 {
  right: auto;
}

/* line 51, ../sass/_bootstrap_grid.scss */
.col-xs-push-12 {
  left: 100%;
}

/* line 52, ../sass/_bootstrap_grid.scss */
.col-xs-push-11 {
  left: 91.66666667%;
}

/* line 53, ../sass/_bootstrap_grid.scss */
.col-xs-push-10 {
  left: 83.33333333%;
}

/* line 54, ../sass/_bootstrap_grid.scss */
.col-xs-push-9 {
  left: 75%;
}

/* line 55, ../sass/_bootstrap_grid.scss */
.col-xs-push-8 {
  left: 66.66666667%;
}

/* line 56, ../sass/_bootstrap_grid.scss */
.col-xs-push-7 {
  left: 58.33333333%;
}

/* line 57, ../sass/_bootstrap_grid.scss */
.col-xs-push-6 {
  left: 50%;
}

/* line 58, ../sass/_bootstrap_grid.scss */
.col-xs-push-5 {
  left: 41.66666667%;
}

/* line 59, ../sass/_bootstrap_grid.scss */
.col-xs-push-4 {
  left: 33.33333333%;
}

/* line 60, ../sass/_bootstrap_grid.scss */
.col-xs-push-3 {
  left: 25%;
}

/* line 61, ../sass/_bootstrap_grid.scss */
.col-xs-push-2 {
  left: 16.66666667%;
}

/* line 62, ../sass/_bootstrap_grid.scss */
.col-xs-push-1 {
  left: 8.33333333%;
}

/* line 63, ../sass/_bootstrap_grid.scss */
.col-xs-push-0 {
  left: auto;
}

/* line 64, ../sass/_bootstrap_grid.scss */
.col-xs-offset-12 {
  margin-left: 100%;
}

/* line 65, ../sass/_bootstrap_grid.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

/* line 66, ../sass/_bootstrap_grid.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

/* line 67, ../sass/_bootstrap_grid.scss */
.col-xs-offset-9 {
  margin-left: 75%;
}

/* line 68, ../sass/_bootstrap_grid.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

/* line 69, ../sass/_bootstrap_grid.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

/* line 70, ../sass/_bootstrap_grid.scss */
.col-xs-offset-6 {
  margin-left: 50%;
}

/* line 71, ../sass/_bootstrap_grid.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

/* line 72, ../sass/_bootstrap_grid.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

/* line 73, ../sass/_bootstrap_grid.scss */
.col-xs-offset-3 {
  margin-left: 25%;
}

/* line 74, ../sass/_bootstrap_grid.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

/* line 75, ../sass/_bootstrap_grid.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

/* line 76, ../sass/_bootstrap_grid.scss */
.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 768px) {
  /* line 78, ../sass/_bootstrap_grid.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    box-sizing: border-box;
  }

  /* line 79, ../sass/_bootstrap_grid.scss */
  .col-sm-12 {
    width: 100%;
  }

  /* line 80, ../sass/_bootstrap_grid.scss */
  .col-sm-11 {
    width: 91.66666667%;
  }

  /* line 81, ../sass/_bootstrap_grid.scss */
  .col-sm-10 {
    width: 83.33333333%;
  }

  /* line 82, ../sass/_bootstrap_grid.scss */
  .col-sm-9 {
    width: 75%;
  }

  /* line 83, ../sass/_bootstrap_grid.scss */
  .col-sm-8 {
    width: 66.66666667%;
  }

  /* line 84, ../sass/_bootstrap_grid.scss */
  .col-sm-7 {
    width: 58.33333333%;
  }

  /* line 85, ../sass/_bootstrap_grid.scss */
  .col-sm-6 {
    width: 50%;
  }

  /* line 86, ../sass/_bootstrap_grid.scss */
  .col-sm-5 {
    width: 41.66666667%;
  }

  /* line 87, ../sass/_bootstrap_grid.scss */
  .col-sm-4 {
    width: 33.33333333%;
  }

  /* line 88, ../sass/_bootstrap_grid.scss */
  .col-sm-3 {
    width: 25%;
  }

  /* line 89, ../sass/_bootstrap_grid.scss */
  .col-sm-2 {
    width: 16.66666667%;
  }

  /* line 90, ../sass/_bootstrap_grid.scss */
  .col-sm-1 {
    width: 8.33333333%;
  }

  /* line 91, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-12 {
    right: 100%;
  }

  /* line 92, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-11 {
    right: 91.66666667%;
  }

  /* line 93, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-10 {
    right: 83.33333333%;
  }

  /* line 94, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-9 {
    right: 75%;
  }

  /* line 95, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-8 {
    right: 66.66666667%;
  }

  /* line 96, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-7 {
    right: 58.33333333%;
  }

  /* line 97, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-6 {
    right: 50%;
  }

  /* line 98, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-5 {
    right: 41.66666667%;
  }

  /* line 99, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-4 {
    right: 33.33333333%;
  }

  /* line 100, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-3 {
    right: 25%;
  }

  /* line 101, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-2 {
    right: 16.66666667%;
  }

  /* line 102, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-1 {
    right: 8.33333333%;
  }

  /* line 103, ../sass/_bootstrap_grid.scss */
  .col-sm-pull-0 {
    right: auto;
  }

  /* line 104, ../sass/_bootstrap_grid.scss */
  .col-sm-push-12 {
    left: 100%;
  }

  /* line 105, ../sass/_bootstrap_grid.scss */
  .col-sm-push-11 {
    left: 91.66666667%;
  }

  /* line 106, ../sass/_bootstrap_grid.scss */
  .col-sm-push-10 {
    left: 83.33333333%;
  }

  /* line 107, ../sass/_bootstrap_grid.scss */
  .col-sm-push-9 {
    left: 75%;
  }

  /* line 108, ../sass/_bootstrap_grid.scss */
  .col-sm-push-8 {
    left: 66.66666667%;
  }

  /* line 109, ../sass/_bootstrap_grid.scss */
  .col-sm-push-7 {
    left: 58.33333333%;
  }

  /* line 110, ../sass/_bootstrap_grid.scss */
  .col-sm-push-6 {
    left: 50%;
  }

  /* line 111, ../sass/_bootstrap_grid.scss */
  .col-sm-push-5 {
    left: 41.66666667%;
  }

  /* line 112, ../sass/_bootstrap_grid.scss */
  .col-sm-push-4 {
    left: 33.33333333%;
  }

  /* line 113, ../sass/_bootstrap_grid.scss */
  .col-sm-push-3 {
    left: 25%;
  }

  /* line 114, ../sass/_bootstrap_grid.scss */
  .col-sm-push-2 {
    left: 16.66666667%;
  }

  /* line 115, ../sass/_bootstrap_grid.scss */
  .col-sm-push-1 {
    left: 8.33333333%;
  }

  /* line 116, ../sass/_bootstrap_grid.scss */
  .col-sm-push-0 {
    left: auto;
  }

  /* line 117, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-12 {
    margin-left: 100%;
  }

  /* line 118, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 119, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 120, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-9 {
    margin-left: 75%;
  }

  /* line 121, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 122, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 123, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-6 {
    margin-left: 50%;
  }

  /* line 124, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 125, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 126, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-3 {
    margin-left: 25%;
  }

  /* line 127, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 128, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 129, ../sass/_bootstrap_grid.scss */
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  /* line 132, ../sass/_bootstrap_grid.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    box-sizing: border-box;
  }

  /* line 133, ../sass/_bootstrap_grid.scss */
  .col-md-12 {
    width: 100%;
  }

  /* line 134, ../sass/_bootstrap_grid.scss */
  .col-md-11 {
    width: 91.66666667%;
  }

  /* line 135, ../sass/_bootstrap_grid.scss */
  .col-md-10 {
    width: 83.33333333%;
  }

  /* line 136, ../sass/_bootstrap_grid.scss */
  .col-md-9 {
    width: 75%;
  }

  /* line 137, ../sass/_bootstrap_grid.scss */
  .col-md-8 {
    width: 66.66666667%;
  }

  /* line 138, ../sass/_bootstrap_grid.scss */
  .col-md-7 {
    width: 58.33333333%;
  }

  /* line 139, ../sass/_bootstrap_grid.scss */
  .col-md-6 {
    width: 50%;
  }

  /* line 140, ../sass/_bootstrap_grid.scss */
  .col-md-5 {
    width: 41.66666667%;
  }

  /* line 141, ../sass/_bootstrap_grid.scss */
  .col-md-4 {
    width: 33.33333333%;
  }

  /* line 142, ../sass/_bootstrap_grid.scss */
  .col-md-3 {
    width: 25%;
  }

  /* line 143, ../sass/_bootstrap_grid.scss */
  .col-md-2 {
    width: 16.66666667%;
  }

  /* line 144, ../sass/_bootstrap_grid.scss */
  .col-md-1 {
    width: 8.33333333%;
  }

  /* line 145, ../sass/_bootstrap_grid.scss */
  .col-md-pull-12 {
    right: 100%;
  }

  /* line 146, ../sass/_bootstrap_grid.scss */
  .col-md-pull-11 {
    right: 91.66666667%;
  }

  /* line 147, ../sass/_bootstrap_grid.scss */
  .col-md-pull-10 {
    right: 83.33333333%;
  }

  /* line 148, ../sass/_bootstrap_grid.scss */
  .col-md-pull-9 {
    right: 75%;
  }

  /* line 149, ../sass/_bootstrap_grid.scss */
  .col-md-pull-8 {
    right: 66.66666667%;
  }

  /* line 150, ../sass/_bootstrap_grid.scss */
  .col-md-pull-7 {
    right: 58.33333333%;
  }

  /* line 151, ../sass/_bootstrap_grid.scss */
  .col-md-pull-6 {
    right: 50%;
  }

  /* line 152, ../sass/_bootstrap_grid.scss */
  .col-md-pull-5 {
    right: 41.66666667%;
  }

  /* line 153, ../sass/_bootstrap_grid.scss */
  .col-md-pull-4 {
    right: 33.33333333%;
  }

  /* line 154, ../sass/_bootstrap_grid.scss */
  .col-md-pull-3 {
    right: 25%;
  }

  /* line 155, ../sass/_bootstrap_grid.scss */
  .col-md-pull-2 {
    right: 16.66666667%;
  }

  /* line 156, ../sass/_bootstrap_grid.scss */
  .col-md-pull-1 {
    right: 8.33333333%;
  }

  /* line 157, ../sass/_bootstrap_grid.scss */
  .col-md-pull-0 {
    right: auto;
  }

  /* line 158, ../sass/_bootstrap_grid.scss */
  .col-md-push-12 {
    left: 100%;
  }

  /* line 159, ../sass/_bootstrap_grid.scss */
  .col-md-push-11 {
    left: 91.66666667%;
  }

  /* line 160, ../sass/_bootstrap_grid.scss */
  .col-md-push-10 {
    left: 83.33333333%;
  }

  /* line 161, ../sass/_bootstrap_grid.scss */
  .col-md-push-9 {
    left: 75%;
  }

  /* line 162, ../sass/_bootstrap_grid.scss */
  .col-md-push-8 {
    left: 66.66666667%;
  }

  /* line 163, ../sass/_bootstrap_grid.scss */
  .col-md-push-7 {
    left: 58.33333333%;
  }

  /* line 164, ../sass/_bootstrap_grid.scss */
  .col-md-push-6 {
    left: 50%;
  }

  /* line 165, ../sass/_bootstrap_grid.scss */
  .col-md-push-5 {
    left: 41.66666667%;
  }

  /* line 166, ../sass/_bootstrap_grid.scss */
  .col-md-push-4 {
    left: 33.33333333%;
  }

  /* line 167, ../sass/_bootstrap_grid.scss */
  .col-md-push-3 {
    left: 25%;
  }

  /* line 168, ../sass/_bootstrap_grid.scss */
  .col-md-push-2 {
    left: 16.66666667%;
  }

  /* line 169, ../sass/_bootstrap_grid.scss */
  .col-md-push-1 {
    left: 8.33333333%;
  }

  /* line 170, ../sass/_bootstrap_grid.scss */
  .col-md-push-0 {
    left: auto;
  }

  /* line 171, ../sass/_bootstrap_grid.scss */
  .col-md-offset-12 {
    margin-left: 100%;
  }

  /* line 172, ../sass/_bootstrap_grid.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 173, ../sass/_bootstrap_grid.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 174, ../sass/_bootstrap_grid.scss */
  .col-md-offset-9 {
    margin-left: 75%;
  }

  /* line 175, ../sass/_bootstrap_grid.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 176, ../sass/_bootstrap_grid.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 177, ../sass/_bootstrap_grid.scss */
  .col-md-offset-6 {
    margin-left: 50%;
  }

  /* line 178, ../sass/_bootstrap_grid.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 179, ../sass/_bootstrap_grid.scss */
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 180, ../sass/_bootstrap_grid.scss */
  .col-md-offset-3 {
    margin-left: 25%;
  }

  /* line 181, ../sass/_bootstrap_grid.scss */
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 182, ../sass/_bootstrap_grid.scss */
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 183, ../sass/_bootstrap_grid.scss */
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  /* line 186, ../sass/_bootstrap_grid.scss */
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    box-sizing: border-box;
  }

  /* line 187, ../sass/_bootstrap_grid.scss */
  .col-lg-12 {
    width: 100%;
  }

  /* line 188, ../sass/_bootstrap_grid.scss */
  .col-lg-11 {
    width: 91.66666667%;
  }

  /* line 189, ../sass/_bootstrap_grid.scss */
  .col-lg-10 {
    width: 83.33333333%;
  }

  /* line 190, ../sass/_bootstrap_grid.scss */
  .col-lg-9 {
    width: 75%;
  }

  /* line 191, ../sass/_bootstrap_grid.scss */
  .col-lg-8 {
    width: 66.66666667%;
  }

  /* line 192, ../sass/_bootstrap_grid.scss */
  .col-lg-7 {
    width: 58.33333333%;
  }

  /* line 193, ../sass/_bootstrap_grid.scss */
  .col-lg-6 {
    width: 50%;
  }

  /* line 194, ../sass/_bootstrap_grid.scss */
  .col-lg-5 {
    width: 41.66666667%;
  }

  /* line 195, ../sass/_bootstrap_grid.scss */
  .col-lg-4 {
    width: 33.33333333%;
  }

  /* line 196, ../sass/_bootstrap_grid.scss */
  .col-lg-3 {
    width: 25%;
  }

  /* line 197, ../sass/_bootstrap_grid.scss */
  .col-lg-2 {
    width: 16.66666667%;
  }

  /* line 198, ../sass/_bootstrap_grid.scss */
  .col-lg-1 {
    width: 8.33333333%;
  }

  /* line 199, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-12 {
    right: 100%;
  }

  /* line 200, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-11 {
    right: 91.66666667%;
  }

  /* line 201, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-10 {
    right: 83.33333333%;
  }

  /* line 202, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-9 {
    right: 75%;
  }

  /* line 203, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-8 {
    right: 66.66666667%;
  }

  /* line 204, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-7 {
    right: 58.33333333%;
  }

  /* line 205, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-6 {
    right: 50%;
  }

  /* line 206, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-5 {
    right: 41.66666667%;
  }

  /* line 207, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-4 {
    right: 33.33333333%;
  }

  /* line 208, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-3 {
    right: 25%;
  }

  /* line 209, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-2 {
    right: 16.66666667%;
  }

  /* line 210, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-1 {
    right: 8.33333333%;
  }

  /* line 211, ../sass/_bootstrap_grid.scss */
  .col-lg-pull-0 {
    right: auto;
  }

  /* line 212, ../sass/_bootstrap_grid.scss */
  .col-lg-push-12 {
    left: 100%;
  }

  /* line 213, ../sass/_bootstrap_grid.scss */
  .col-lg-push-11 {
    left: 91.66666667%;
  }

  /* line 214, ../sass/_bootstrap_grid.scss */
  .col-lg-push-10 {
    left: 83.33333333%;
  }

  /* line 215, ../sass/_bootstrap_grid.scss */
  .col-lg-push-9 {
    left: 75%;
  }

  /* line 216, ../sass/_bootstrap_grid.scss */
  .col-lg-push-8 {
    left: 66.66666667%;
  }

  /* line 217, ../sass/_bootstrap_grid.scss */
  .col-lg-push-7 {
    left: 58.33333333%;
  }

  /* line 218, ../sass/_bootstrap_grid.scss */
  .col-lg-push-6 {
    left: 50%;
  }

  /* line 219, ../sass/_bootstrap_grid.scss */
  .col-lg-push-5 {
    left: 41.66666667%;
  }

  /* line 220, ../sass/_bootstrap_grid.scss */
  .col-lg-push-4 {
    left: 33.33333333%;
  }

  /* line 221, ../sass/_bootstrap_grid.scss */
  .col-lg-push-3 {
    left: 25%;
  }

  /* line 222, ../sass/_bootstrap_grid.scss */
  .col-lg-push-2 {
    left: 16.66666667%;
  }

  /* line 223, ../sass/_bootstrap_grid.scss */
  .col-lg-push-1 {
    left: 8.33333333%;
  }

  /* line 224, ../sass/_bootstrap_grid.scss */
  .col-lg-push-0 {
    left: auto;
  }

  /* line 225, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-12 {
    margin-left: 100%;
  }

  /* line 226, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }

  /* line 227, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }

  /* line 228, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-9 {
    margin-left: 75%;
  }

  /* line 229, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }

  /* line 230, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }

  /* line 231, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-6 {
    margin-left: 50%;
  }

  /* line 232, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }

  /* line 233, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }

  /* line 234, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-3 {
    margin-left: 25%;
  }

  /* line 235, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }

  /* line 236, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }

  /* line 237, ../sass/_bootstrap_grid.scss */
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
/* line 239, ../sass/_bootstrap_grid.scss */
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  clear: both;
  display: table;
}

/* line 1, ../sass/_buttons.scss */
[data-btn-size="md"] {
  padding: 10px 22px;
  display: inline-block;
  border-radius: 4px;
  font-size: 12px;
  border: 1px solid transparent;
}

/* line 10, ../sass/_buttons.scss */
[data-btn-skin="white"] {
  border-color: #fff;
  color: #fff;
}

/* line 15, ../sass/_buttons.scss */
[data-btn-skin="white"]:hover {
  background-color: #000;
  border-color: #fff100;
}

/* line 1, ../sass/_home_top_box.scss */
.home_top_box {
  position: relative;
}

/* line 5, ../sass/_home_top_box.scss */
.home_top_box_caption {
  position: absolute;
  bottom: 89px;
  left: 0;
  right: 0;
  padding: 15px 20px;
  text-align: center;
  background: url(../images/diagonal_pattern_white.png) 50% 50% repeat;
}

/* line 15, ../sass/_home_top_box.scss */
.home_top_box_title {
  font-size: 30px;
  line-height: 34px;
  color: #fff;
  text-transform: uppercase;
}

/* line 22, ../sass/_home_top_box.scss */
.home_top_box_title span {
  display: block;
  color: #fff100;
}

/* line 27, ../sass/_home_top_box.scss */
.select_search {
  position: absolute;
  width: 470px;
  top: 105px;
  left: 90px;
}

/* line 34, ../sass/_home_top_box.scss */
.select_search_tabs .resp-tabs-list {
  text-align: center;
}

/* line 38, ../sass/_home_top_box.scss */
.select_search_tabs .resp-tabs-list li {
  background-color: white;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 14px 25px 10px;
  color: #000;
  margin: 0 -1px;
  font-size: 13px;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: baseline;
}

/* line 51, ../sass/_home_top_box.scss */
.select_search_tabs .resp-tabs-list .resp-tab-item:hover,
.select_search_tabs .resp-tabs-list .resp-tab-active {
  background-color: #fff100;
}

/* line 56, ../sass/_home_top_box.scss */
.select_search_tabs .resp-tabs-container {
  border: 4px solid #fff100;
  padding: 60px 77px;
  text-align: center;
}

/* line 62, ../sass/_home_top_box.scss */
.select_search_tabs .resp-tabs-list .resp-tab-active {
  padding-top: 16px;
}

/* line 66, ../sass/_home_top_box.scss */
.select_search_sm_title {
  font-size: 18px;
}

/* line 1, ../sass/_header.scss */
header[role="banner"] {
  padding: 0 0 0 0px;
  position: relative;
}

/* line 6, ../sass/_header.scss */
.logo {
  position: absolute;
  left: 64px;
  top: 0;
  text-align: center;
  width: 292px;
  padding: 24px 0 19px;
}

/* line 14, ../sass/_header.scss */
.logo:before {
  display: block;
  position: absolute;
  background-color: #FFF;
  width: 280px;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  -moz-transform: skewX(32deg);
  -webkit-transform: skewX(32deg);
  -o-transform: skewX(32deg);
  -ms-transform: skewX(32deg);
  transform: skewX(32deg);
  content: "";
}

/* line 31, ../sass/_header.scss */
.logo a {
  display: inline-block;
  position: relative;
  z-index: 10;
}

/* line 37, ../sass/_header.scss */
.header_search {
  float: right;
  width: calc(100% - 100px);
  background-color: #FFF;
  padding: 4px 115px 4px 20px;
}

/* line 44, ../sass/_header.scss */
.header_search_form {
  float: right;
  border: 1px solid #d2d3d5;
  border-radius: 4px;
  width: 231px;
}

/* line 50, ../sass/_header.scss */
.header_search_field {
  border: none;
  outline: none;
  float: left;
  height: 28px;
  padding: 3px 0px 3px 10px;
  background: none;
  width: calc(100% - 34px);
}

/* line 60, ../sass/_header.scss */
.header_seach_sbm {
  display: block;
  width: 30px;
  height: 28px;
  background: url(../images/header_search_icon.png) 50% 50% no-repeat;
}

/* line 67, ../sass/_header.scss */
nav[role="navigation"] {
  float: right;
  height: 50px;
  width: calc(100% - 382px);
  position: relative;
  z-index: 12;
  clear: right;
}

/* line 76, ../sass/_header.scss */
nav[role="navigation"]:before {
  display: block;
  position: absolute;
  left: -33px;
  width: 100px;
  top: 0;
  height: 100%;
  border-radius: 8px 0 0 5px;
  -moz-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
  background-color: #231f20;
  content: "";
}

/* line 94, ../sass/_header.scss */
.menu {
  position: relative;
  z-index: 10;
  padding: 0 0 0 10px;
}

/* line 99, ../sass/_header.scss */
.menu > li {
  float: left;
  padding: 17px 20px 14px;
}

/* line 104, ../sass/_header.scss */
.menu a {
  color: #fff;
  font-size: 13px;
  display: block;
  text-transform: uppercase;
}

/* line 111, ../sass/_header.scss */
.menu a:hover {
  color: #fff100;
}

/* line 11, ../sass/_skin.scss */
.white_color {
  color: #fff;
}

/* line 3, ../sass/_footer.scss */
footer {
  background-color: #231f20;
  color: #818284;
  min-height: 500px;
  padding: 70px 0 40px;
}

/* line 10, ../sass/_footer.scss */
footer a {
  color: #fff;
}

/* line 15, ../sass/_footer.scss */
.social_btns {
  padding: 12px 0 0;
}

/* line 18, ../sass/_footer.scss */
.social_btns a {
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-right: 28px;
}

/* line 25, ../sass/_footer.scss */
.linkedin {
  background: url('../images/social_icons-sb13a88083b.png') -50px 0 no-repeat;
}

/* line 28, ../sass/_footer.scss */
.gplus {
  background: url('../images/social_icons-sb13a88083b.png') 0 0 no-repeat;
}

/* line 31, ../sass/_footer.scss */
.youtube {
  background: url('../images/social_icons-sb13a88083b.png') -99px 0 no-repeat;
}

/* line 35, ../sass/_footer.scss */
.footer_nav li {
  margin-bottom: 27px;
}

/* line 38, ../sass/_footer.scss */
.footer_nav li:last-child {
  margin-bottom: 0;
}

/* line 42, ../sass/_footer.scss */
.footer_sm_title {
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-weight: normal;
  border-bottom: 1px solid #59595b;
}

/* line 50, ../sass/_footer.scss */
.footer_list {
  font-size: 13px;
}

/* line 53, ../sass/_footer.scss */
.footer_list li {
  margin-bottom: 10px;
}

/* line 56, ../sass/_footer.scss */
.footer_list a {
  opacity: .4;
}

/* line 60, ../sass/_footer.scss */
.footer_list a:hover {
  opacity: 1;
}

/* line 65, ../sass/_footer.scss */
.copyright {
  padding-top: 20px;
}

/* line 1, ../sass/_main.scss */
html {
  height: 100%;
}

/* line 4, ../sass/_main.scss */
body {
  background: url(../images/body_bg.png) 50% bottom repeat-x #231f20;
  min-height: 100%;
  font-family: 'dinmedium', sans-serif;
  font-weight: 500;
  color: #818284;
  font-size: 15px;
  line-height: 1.53;
}

/* line 14, ../sass/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
/* line 21, ../sass/_main.scss */
a {
  color: #818284;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

/* line 27, ../sass/_main.scss */
a:hover {
  color: #fff100;
  text-decoration: none;
}

/* line 32, ../sass/_main.scss */
.btn {
  display: inline-block;
  padding: 0 0 0;
  margin: 0 0 0;
}

/* line 40, ../sass/_main.scss */
.btn:hover {
  color: #000;
}

/* line 46, ../sass/_main.scss */
input {
  font-family: 'dinmedium', sans-serif;
}

/*----------------------> Basic Classes <------------------*/
/* line 51, ../sass/_main.scss */
.upp {
  text-transform: uppercase;
}

/* line 52, ../sass/_main.scss */
.f_left {
  float: left;
}

/* line 53, ../sass/_main.scss */
.f_right {
  float: right;
}

/* line 54, ../sass/_main.scss */
.al_left {
  text-align: left;
}

/* line 55, ../sass/_main.scss */
.al_right {
  text-align: right;
}

/* line 56, ../sass/_main.scss */
.al_center {
  text-align: center;
}

/* line 58, ../sass/_main.scss */
.it {
  font-style: italic;
}

/* line 59, ../sass/_main.scss */
.let {
  letter-spacing: -1px;
}

/* line 61, ../sass/_main.scss */
.full_w {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 68, ../sass/_main.scss */
.val_mid {
  vertical-align: middle;
}

/* line 80, ../sass/_main.scss */
.fz_12 {
  font-size: 12px;
}

/*----------------------> Indents Zero <------------------*/
/* line 85, ../sass/_main.scss */
.m_b_zero {
  margin-bottom: 0 !important;
}

/* line 86, ../sass/_main.scss */
.m_l_zero {
  margin-left: 0 !important;
}

/* line 87, ../sass/_main.scss */
.p_b_zero {
  padding-bottom: 0 !important;
}

/* line 88, ../sass/_main.scss */
.p_l_zero {
  padding-left: 0 !important;
}

/*----------------------> Positions <------------------*/
/* line 91, ../sass/_main.scss */
.p_abs {
  position: absolute;
}

/* line 92, ../sass/_main.scss */
.p_rel {
  position: relative;
}

/* line 93, ../sass/_main.scss */
.p_fix {
  position: fixed;
}

/* line 94, ../sass/_main.scss */
.clear {
  clear: both;
  width: 100%;
  line-height: 0;
  font-size: 0;
}

/* line 95, ../sass/_main.scss */
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 102, ../sass/_main.scss */
.wrapper {
  overflow: hidden;
}

/* line 103, ../sass/_main.scss */
.f_elem > *:first-child {
  margin-top: 0 !important;
}

/* line 104, ../sass/_main.scss */
.f_elem1 > *:first-child {
  margin-top: 0 !important;
  border: none !important;
}

/* line 106, ../sass/_main.scss */
.bg_none {
  background: none !important;
}

/*----------------------> Displays <------------------*/
/* line 110, ../sass/_main.scss */
.d_block {
  display: block;
}

/* line 111, ../sass/_main.scss */
.d_ib {
  display: inline-block;
}

/* line 112, ../sass/_main.scss */
.d_none {
  display: none;
}

/* line 113, ../sass/_main.scss */
.d_tc {
  display: table-cell;
}

/* line 114, ../sass/_main.scss */
.d_t {
  display: table;
}

/*=====================> Paragraphs ========================*/
/* line 118, ../sass/_main.scss */
p {
  margin-bottom: 18px;
}

/* line 119, ../sass/_main.scss */
.mb1 {
  margin-bottom: 1px;
}

/* line 120, ../sass/_main.scss */
.mb2 {
  margin-bottom: 2px;
}

/* line 121, ../sass/_main.scss */
.mb3 {
  margin-bottom: 3px;
}

/* line 122, ../sass/_main.scss */
.mb4 {
  margin-bottom: 4px;
}

/* line 123, ../sass/_main.scss */
.mb5 {
  margin-bottom: 5px;
}

/* line 124, ../sass/_main.scss */
.mb6 {
  margin-bottom: 6px;
}

/* line 125, ../sass/_main.scss */
.mb7 {
  margin-bottom: 7px;
}

/* line 126, ../sass/_main.scss */
.mb8 {
  margin-bottom: 8px;
}

/* line 127, ../sass/_main.scss */
.mb9 {
  margin-bottom: 9px;
}

/* line 128, ../sass/_main.scss */
.mb10 {
  margin-bottom: 10px;
}

/* line 129, ../sass/_main.scss */
.mb11 {
  margin-bottom: 11px;
}

/* line 130, ../sass/_main.scss */
.mb12 {
  margin-bottom: 12px;
}

/* line 131, ../sass/_main.scss */
.mb13 {
  margin-bottom: 13px;
}

/* line 132, ../sass/_main.scss */
.mb14 {
  margin-bottom: 14px;
}

/* line 133, ../sass/_main.scss */
.mb15 {
  margin-bottom: 15px;
}

/* line 134, ../sass/_main.scss */
.mb16 {
  margin-bottom: 16px;
}

/* line 135, ../sass/_main.scss */
.mb17 {
  margin-bottom: 17px;
}

/* line 136, ../sass/_main.scss */
.mb18 {
  margin-bottom: 18px;
}

/* line 137, ../sass/_main.scss */
.mb19 {
  margin-bottom: 19px;
}

/* line 138, ../sass/_main.scss */
.mb20 {
  margin-bottom: 20px;
}

/* line 139, ../sass/_main.scss */
.mb21 {
  margin-bottom: 21px;
}

/* line 140, ../sass/_main.scss */
.mb22 {
  margin-bottom: 22px;
}

/* line 141, ../sass/_main.scss */
.mb23 {
  margin-bottom: 23px;
}

/* line 142, ../sass/_main.scss */
.mb24 {
  margin-bottom: 24px;
}

/* line 143, ../sass/_main.scss */
.mb25 {
  margin-bottom: 25px;
}

/* line 144, ../sass/_main.scss */
.mb26 {
  margin-bottom: 26px;
}

/* line 145, ../sass/_main.scss */
.mb27 {
  margin-bottom: 27px;
}

/* line 146, ../sass/_main.scss */
.mb28 {
  margin-bottom: 28px;
}

/* line 147, ../sass/_main.scss */
.mb29 {
  margin-bottom: 29px;
}

/* line 148, ../sass/_main.scss */
.mb30 {
  margin-bottom: 30px;
}

/* line 149, ../sass/_main.scss */
.mb31 {
  margin-bottom: 31px;
}

/* line 150, ../sass/_main.scss */
.mb32 {
  margin-bottom: 32px;
}

/* line 151, ../sass/_main.scss */
.mb33 {
  margin-bottom: 33px;
}

/* line 152, ../sass/_main.scss */
.mb34 {
  margin-bottom: 34px;
}

/* line 153, ../sass/_main.scss */
.mb35 {
  margin-bottom: 35px;
}

/* line 154, ../sass/_main.scss */
.mb36 {
  margin-bottom: 36px;
}

/* line 155, ../sass/_main.scss */
.mb37 {
  margin-bottom: 37px;
}

/* line 156, ../sass/_main.scss */
.mb38 {
  margin-bottom: 38px;
}

/* line 157, ../sass/_main.scss */
.mb39 {
  margin-bottom: 39px;
}

/* line 158, ../sass/_main.scss */
.mb40 {
  margin-bottom: 40px;
}

/* line 159, ../sass/_main.scss */
.mb41 {
  margin-bottom: 41px;
}

/* line 160, ../sass/_main.scss */
.mb42 {
  margin-bottom: 42px;
}

/* line 161, ../sass/_main.scss */
.mb43 {
  margin-bottom: 43px;
}

/* line 162, ../sass/_main.scss */
.mb44 {
  margin-bottom: 44px;
}

/* line 163, ../sass/_main.scss */
.mb45 {
  margin-bottom: 45px;
}

/* line 164, ../sass/_main.scss */
.mb46 {
  margin-bottom: 46px;
}

/* line 165, ../sass/_main.scss */
.mb47 {
  margin-bottom: 47px;
}

/* line 166, ../sass/_main.scss */
.mb48 {
  margin-bottom: 48px;
}

/* line 167, ../sass/_main.scss */
.mb49 {
  margin-bottom: 49px;
}

/* line 168, ../sass/_main.scss */
.mb50 {
  margin-bottom: 50px;
}

/* line 169, ../sass/_main.scss */
.mb51 {
  margin-bottom: 51px;
}

/* line 170, ../sass/_main.scss */
.mb52 {
  margin-bottom: 52px;
}

/* line 171, ../sass/_main.scss */
.mb53 {
  margin-bottom: 53px;
}

/* line 172, ../sass/_main.scss */
.mb54 {
  margin-bottom: 54px;
}

/* line 173, ../sass/_main.scss */
.mb55 {
  margin-bottom: 55px;
}

/* line 174, ../sass/_main.scss */
.mb58 {
  margin-bottom: 58px;
}

/* line 175, ../sass/_main.scss */
.mb62 {
  margin-bottom: 62px;
}

/* line 176, ../sass/_main.scss */
.mb75 {
  margin-bottom: 75px;
}

/* line 179, ../sass/_main.scss */
.mr40 {
  margin-right: 40px;
}

/*================================>> hovers <<========================================*/
/* line 183, ../sass/_main.scss */
a {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

/* line 189, ../sass/_main.scss */
a:hover {
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* line 199, ../sass/_main.scss */
.os_font {
  font-family: 'Open Sans', sans-serif;
}

/* line 205, ../sass/_main.scss */
.main_wrap {
  width: 1400px;
  max-width: 100%;
  margin: 0 auto;
}

/* line 214, ../sass/_main.scss */
.resp-tab-content,
h2.resp-accordion {
  display: none;
}

@media only screen and (max-width: 768px) {
  /* line 220, ../sass/_main.scss */
  ul.resp-tabs-list {
    display: none;
  }

  /* line 224, ../sass/_main.scss */
  h2.resp-accordion {
    display: block;
  }

  /* line 228, ../sass/_main.scss */
  .resp-accordion-closed {
    display: none !important;
  }
}
/* line 237, ../sass/_main.scss */
.jq-checkbox {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 3px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

/* line 251, ../sass/_main.scss */
.jq-checkbox.checked .jq-checkbox__div {
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  border-radius: 2px;
  background: #666;
  box-shadow: inset 0 -3px 6px #AAA;
}

/* line 259, ../sass/_main.scss */
.jq-checkbox.focused {
  border: 1px solid #08C;
}

/* line 262, ../sass/_main.scss */
.jq-checkbox.disabled {
  opacity: .55;
}

/* line 267, ../sass/_main.scss */
.jq-radio {
  top: -1px;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: 0 4px 0 0;
  border: 1px solid #C3C3C3;
  border-radius: 50%;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  cursor: pointer;
}

/* line 281, ../sass/_main.scss */
.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  background: #777;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* line 289, ../sass/_main.scss */
.jq-radio.focused {
  border: 1px solid #08C;
}

/* line 292, ../sass/_main.scss */
.jq-radio.disabled {
  opacity: .55;
}

/* line 297, ../sass/_main.scss */
.jq-file {
  width: 270px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 302, ../sass/_main.scss */
.jq-file input {
  height: auto;
  line-height: 1em;
  cursor: pointer;
}

/* line 307, ../sass/_main.scss */
.jq-file__name {
  overflow: hidden;
  box-sizing: border-box;
  width: 100%;
  height: 34px;
  padding: 0 80px 0 10px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1;
  font: 14px/32px Arial, sans-serif;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 323, ../sass/_main.scss */
.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  border-radius: 0 4px 4px 0;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/32px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
}

/* line 338, ../sass/_main.scss */
.jq-file:hover .jq-file__browse {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

/* line 343, ../sass/_main.scss */
.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 347, ../sass/_main.scss */
.jq-file.focused .jq-file__name {
  border: 1px solid #5794BF;
}

/* line 350, ../sass/_main.scss */
.jq-file.disabled,
.jq-file.disabled .jq-file__name,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 360, ../sass/_main.scss */
.jq-number {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 36px 0 0;
}

/* line 366, ../sass/_main.scss */
.jq-number__field {
  width: 100px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 373, ../sass/_main.scss */
.jq-number__field:hover {
  border-color: #B3B3B3;
}

/* line 376, ../sass/_main.scss */
.jq-number__field input {
  box-sizing: border-box;
  width: 100%;
  padding: 8px 9px;
  border: none;
  outline: none;
  background: none;
  font: 14px Arial, sans-serif;
  color: #333;
  text-align: left;
  /* ╨┤╨╗╤П Opera Presto┬а*/
  -moz-appearance: textfield;
}

/* line 388, ../sass/_main.scss */
.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0;
  /* ╨▓ ╨║╨░╨║╨╕╤Е-╤В╨╛ ╨▒╤А╨░╤Г╨╖╨╡╤А╨░╤Е ╨┐╤А╨╕╤Б╤Г╤В╤Б╤В╨▓╤Г╨╡╤В ╨╛╤В╤Б╤В╤Г╨┐ */
  -webkit-appearance: none;
}

/* line 393, ../sass/_main.scss */
.jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 14px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

/* line 414, ../sass/_main.scss */
.jq-number__spin.minus {
  top: auto;
  bottom: 0;
}

/* line 418, ../sass/_main.scss */
.jq-number__spin:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

/* line 423, ../sass/_main.scss */
.jq-number__spin:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 427, ../sass/_main.scss */
.jq-number__spin:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 11px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #999;
  border-left: 5px solid transparent;
}

/* line 438, ../sass/_main.scss */
.jq-number__spin.minus:after {
  top: 5px;
  border-top: 5px solid #999;
  border-right: 5px solid transparent;
  border-bottom: none;
  border-left: 5px solid transparent;
}

/* line 445, ../sass/_main.scss */
.jq-number__spin.minus:hover:after {
  border-top-color: #000;
}

/* line 448, ../sass/_main.scss */
.jq-number__spin.plus:hover:after {
  border-bottom-color: #000;
}

/* line 451, ../sass/_main.scss */
.jq-number.focused .jq-number__field {
  border: 1px solid #5794BF;
}

/* line 454, ../sass/_main.scss */
.jq-number.disabled .jq-number__field,
.jq-number.disabled .jq-number__spin {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 461, ../sass/_main.scss */
.jq-number.disabled .jq-number__spin:after {
  border-bottom-color: #AAA;
}

/* line 464, ../sass/_main.scss */
.jq-number.disabled .jq-number__spin.minus:after {
  border-top-color: #AAA;
}

/* line 469, ../sass/_main.scss */
.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
  width: 100%;
}

/* line 474, ../sass/_main.scss */
.jq-selectbox__select {
  height: 42px;
  padding: 0 15px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: #fff;
  line-height: 42px;
  text-align: left;
  color: #000;
}

/* line 493, ../sass/_main.scss */
.jq-selectbox.disabled .jq-selectbox__select {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 499, ../sass/_main.scss */
.jq-selectbox__select-text {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* line 506, ../sass/_main.scss */
.jq-selectbox .placeholder {
  color: #888;
}

/* line 509, ../sass/_main.scss */
.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
  width: 42px;
  height: 100%;
}

/* line 516, ../sass/_main.scss */
.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 18px;
  right: 12px;
  width: 0;
  height: 0;
  border-top: 7px solid #231f20;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

/* line 526, ../sass/_main.scss */
.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #000;
}

/* line 529, ../sass/_main.scss */
.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  border-top-color: #AAA;
}

/* line 532, ../sass/_main.scss */
.jq-selectbox__dropdown {
  box-sizing: border-box;
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  text-align: left;
  border: 1px solid #ff;
  border-radius: 4px;
  background: #FFF;
}

/* line 542, ../sass/_main.scss */
.jq-selectbox__search {
  margin: 5px;
}

/* line 545, ../sass/_main.scss */
.jq-selectbox__search input {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  border: 1px solid #CCC;
  border-radius: 3px;
  outline: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}

/* line 558, ../sass/_main.scss */
.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 562, ../sass/_main.scss */
.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

/* line 568, ../sass/_main.scss */
.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

/* line 573, ../sass/_main.scss */
.jq-selectbox ul li:first-child {
  border-radius: 4px 4px 0 0;
}

/* line 576, ../sass/_main.scss */
.jq-selectbox ul li:last-child {
  border-radius: 0 0 4px 4px;
}

/* line 579, ../sass/_main.scss */
.jq-selectbox li {
  min-height: 18px;
  padding: 10px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
  color: #231F20;
}

/* line 589, ../sass/_main.scss */
.jq-selectbox li.selected {
  background-color: #fff100;
  color: #000;
}

/* line 593, ../sass/_main.scss */
.jq-selectbox li:hover {
  background-color: #fff100;
  color: #000;
}

/* line 597, ../sass/_main.scss */
.jq-selectbox li.disabled {
  color: #AAA;
}

/* line 600, ../sass/_main.scss */
.jq-selectbox li.disabled:hover {
  background: none;
}

/* line 603, ../sass/_main.scss */
.jq-selectbox li.optgroup {
  font-weight: bold;
}

/* line 606, ../sass/_main.scss */
.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

/* line 611, ../sass/_main.scss */
.jq-selectbox li.option {
  padding-left: 25px;
}

/* line 616, ../sass/_main.scss */
.jq-select-multiple {
  box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  background: #FFF;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px/18px Arial, sans-serif;
  color: #333;
  cursor: default;
}

/* line 628, ../sass/_main.scss */
.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

/* line 631, ../sass/_main.scss */
.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 637, ../sass/_main.scss */
.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

/* line 641, ../sass/_main.scss */
.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

/* line 650, ../sass/_main.scss */
.jq-select-multiple li:first-child {
  border-radius: 3px 3px 0 0;
}

/* line 653, ../sass/_main.scss */
.jq-select-multiple li:last-child {
  border-radius: 0 0 3px 3px;
}

/* line 656, ../sass/_main.scss */
.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

/* line 660, ../sass/_main.scss */
.jq-select-multiple li.disabled {
  color: #AAA;
}

/* line 663, ../sass/_main.scss */
.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

/* line 668, ../sass/_main.scss */
.jq-select-multiple li.optgroup {
  font-weight: bold;
}

/* line 671, ../sass/_main.scss */
.jq-select-multiple li.option {
  padding-left: 25px;
}

/* line 676, ../sass/_main.scss */
input[type='email'].styler,
input[type='password'].styler,
input[type='search'].styler,
input[type='tel'].styler,
input[type='text'].styler,
input[type='url'].styler,
textarea.styler {
  padding: 8px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
}

/* line 691, ../sass/_main.scss */
input[type='search'].styler {
  -webkit-appearance: none;
}

/* line 694, ../sass/_main.scss */
textarea.styler {
  overflow: auto;
}

/* line 697, ../sass/_main.scss */
input[type='email'].styler:hover,
input[type='password'].styler:hover,
input[type='search'].styler:hover,
input[type='tel'].styler:hover,
input[type='text'].styler:hover,
input[type='url'].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}

/* line 706, ../sass/_main.scss */
input[type='email'].styler:focus,
input[type='password'].styler:focus,
input[type='search'].styler:focus,
input[type='tel'].styler:focus,
input[type='text'].styler:focus,
input[type='url'].styler:focus,
textarea.styler:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 718, ../sass/_main.scss */
button.styler,
input[type='button'].styler,
input[type='submit'].styler,
input[type='reset'].styler {
  overflow: visible;
  padding: 8px 11px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  border-radius: 4px;
  outline: none;
  background: #F5F5F5;
  background: -webkit-linear-gradient(#FFF, #E6E6E6);
  background: linear-gradient(#FFF, #E6E6E6);
  box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 14px Arial, sans-serif;
  color: #333;
  text-shadow: 1px 1px #FFF;
  cursor: pointer;
}

/* line 737, ../sass/_main.scss */
button.styler::-moz-focus-inner,
input[type='button'].styler::-moz-focus-inner,
input[type='submit'].styler::-moz-focus-inner,
input[type='reset'].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 744, ../sass/_main.scss */
button.styler:not([disabled]):hover,
input[type='button'].styler:not([disabled]):hover,
input[type='submit'].styler:not([disabled]):hover,
input[type='reset'].styler:hover {
  background: #E6E6E6;
  background: -webkit-linear-gradient(#F6F6F6, #E6E6E6);
  background: linear-gradient(#F6F6F6, #E6E6E6);
}

/* line 752, ../sass/_main.scss */
button.styler:not([disabled]):active,
input[type='button'].styler:not([disabled]):active,
input[type='submit'].styler:not([disabled]):active,
input[type='reset'].styler:active {
  background: #F5F5F5;
  box-shadow: inset 1px 1px 3px #DDD;
}

/* line 759, ../sass/_main.scss */
button.styler[disabled],
input[type='button'].styler[disabled],
input[type='submit'].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  box-shadow: none;
  color: #888;
}

/* line 3, ../sass/_titles.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/*-------------------  START titles  -----------------*/
/* line 8, ../sass/_titles.scss */
.title1 {
  color: #FFF;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}

/* line 14, ../sass/_titles.scss */
.title2 {
  font-size: 26px;
  line-height: 1.2;
  font-family: 'din-boldregular';
  text-transform: uppercase;
  margin-bottom: 34px;
}

/* line 22, ../sass/_titles.scss */
.title3_med {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'dinmedium';
}

/* line 27, ../sass/_titles.scss */
.title3_bd {
  font-size: 18px;
  line-height: 1.2;
  font-family: 'din-boldregular';
}

/* line 33, ../sass/_titles.scss */
.title4 {
  color: #818284;
  font-size: 15px;
  line-height: 1.6;
}

/* line 38, ../sass/_titles.scss */
.title5 {
  font-size: 14px;
  line-height: 1.2;
}

/* line 39, ../sass/_titles.scss */
.footer_title {
  color: #FFF;
  line-height: 1;
  font-size: 12px;
  padding-bottom: 23px;
  font-family: 'din-boldregular';
  text-transform: uppercase;
  border-bottom: 1px solid #59595b;
}

/*-------------------  END titles  -----------------*/
/*-------------------  START font-weight  -----------------*/
/*---  DIN fonts  ---*/
/* line 55, ../sass/_titles.scss */
.din_bd {
  font-family: 'din-boldregular';
  font-weight: normal;
}

/* line 56, ../sass/_titles.scss */
.din_reg {
  font-family: 'dinregular';
  font-weight: normal;
}

/* line 57, ../sass/_titles.scss */
.din_med {
  font-family: 'dinmedium';
  font-weight: normal;
}

/* line 59, ../sass/_titles.scss */
.ex_bold {
  font-weight: 800;
}

/* line 60, ../sass/_titles.scss */
.bold {
  font-weight: 700;
}

/*-------------------  END font-weight  -----------------*/
/*---- text transform  ----*/
/* line 68, ../sass/_titles.scss */
.tt_upp {
  text-transform: uppercase;
}

/* line 69, ../sass/_titles.scss */
.tt_low {
  text-transform: lowercase;
}

/* line 70, ../sass/_titles.scss */
.tt_cap {
  text-transform: capitalize;
}

/*---- START  breadcrumbs  ----*/
/* line 2, ../sass/_breadcrumbs.scss */
.breadcrumbs {
  padding: 24px;
}

/* line 5, ../sass/_breadcrumbs.scss */
.breadcrumbs_item {
  float: left;
  color: #D1D2D4;
  font-size: 14px;
}

/* line 10, ../sass/_breadcrumbs.scss */
.breadcrumbs_item_link {
  color: #D1D2D4;
  font-size: 14px;
  position: relative;
  margin-right: 20px;
}

/* line 16, ../sass/_breadcrumbs.scss */
.breadcrumbs_item_link:before {
  content: "";
  right: -13px;
  width: 7px;
  height: 7px;
  top: 38%;
  color: #D1D2D4;
  position: absolute;
  background: url(../images/icons/breadcrumbs_arrow.png) 50% 0% no-repeat;
}

/*---- END  breadcrumbs  ----*/
/*-------------------  START colors  -----------------*/
/* line 2, ../sass/_data_colors.scss */
[data-color="white"] {
  color: #FFF;
}

/* line 5, ../sass/_data_colors.scss */
[data-color="dark"] {
  color: #231f20;
}

/* line 8, ../sass/_data_colors.scss */
[data-color="yellow"] {
  color: #fff100;
}

/* line 11, ../sass/_data_colors.scss */
[data-color="grey"] {
  color: #58585a;
}

/* line 14, ../sass/_data_colors.scss */
[data-color="dark_grey"] {
  color: #242021;
}

/* line 17, ../sass/_data_colors.scss */
[data-color="light_grey"] {
  color: #818284;
}

/*-------------------  END colors  -----------------*/
/*-------------------  START background-colors  -----------------*/
/* line 23, ../sass/_data_colors.scss */
[data-skin="white"] {
  background-color: #fff;
}

/* line 26, ../sass/_data_colors.scss */
[data-skin="yellow"] {
  background-color: #fff100;
}

/* line 29, ../sass/_data_colors.scss */
[data-skin="dark"] {
  background-color: #231f20;
}

/* line 32, ../sass/_data_colors.scss */
[data-skin="light_grey"] {
  background-color: #e7e7e8;
}

/* line 35, ../sass/_data_colors.scss */
[data-skin="light_grey2"] {
  background-color: #a8a9ad;
}

/* line 38, ../sass/_data_colors.scss */
[data-skin="grey_gradient"] {
  background-color: #FFF;
  background-image: radial-gradient(circle 729px at center, #ffffff 0%, #e7e7e8 100%);
}

/*-------------------  END background-colors  -----------------*/
/*-------------------  START background-colors  -----------------*/
/* line 2, ../sass/_pattern.scss */
[data-bg="diagonal_pattern"] {
  background-position: 0 0;
  background-repeat: repeat;
  background-image: url(../images/diagonal_pattern.png);
}

/* line 8, ../sass/_pattern.scss */
[data-bg="diagonal_pattern_white"] {
  background-position: 0 0;
  background-repeat: repeat;
  background-image: url(../images/diagonal_pattern_white.png);
}

/* line 14, ../sass/_pattern.scss */
[data-bg="diagonal_pattern_grey"] {
  background-position: 0 0;
  background-repeat: repeat;
  background-image: url(../images/diagonal_pattern_grey.png);
}

/*-------------------  END background-colors  -----------------*/
/*-----------  START contact_an_expert  -----------*/
/* line 2, ../sass/_contact_an_expert.scss */
.dark_full_width_block,
.full_width_block {
  margin: 0 -130px 0;
  min-height: 126px;
  position: relative;
  padding: 40px 15px 12px 125px;
}

/* line 9, ../sass/_contact_an_expert.scss */
.full_width_block {
  padding: 23px 113px;
}

/* line 12, ../sass/_contact_an_expert.scss */
.dark_full_width_block:before {
  content: "";
  width: 116px;
  height: 140px;
  position: absolute;
  left: 0;
  top: 0;
  background: url(../images/icons/yellow_big_arrow.png) 0% 0% no-repeat;
}

/* line 21, ../sass/_contact_an_expert.scss */
.contact_min_box {
  width: 64.7%;
  margin: 0 auto;
}

/* line 25, ../sass/_contact_an_expert.scss */
.contact_min_box p {
  width: 55%;
  margin-right: 20px;
}

/* line 29, ../sass/_contact_an_expert.scss */
.contact_min_box .btn {
  margin: 10px 0;
}

/*-----------  END contact_an_expert  -----------*/
/*-------------------  START case_card  -----------------*/
/* line 2, ../sass/_case_card.scss */
.content_block {
  padding: 80px 0;
}

/* line 6, ../sass/_case_card.scss */
.download_broshure_box .img_box {
  width: 94px;
  height: 120px;
  margin-right: 15px;
}

/* line 12, ../sass/_case_card.scss */
.img_box {
  text-align: center;
}

/* line 13, ../sass/_case_card.scss */
.img_box img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 18, ../sass/_case_card.scss */
.download_broshure_box figcaption {
  float: left;
  padding-top: 33px;
  max-width: 270px;
}

/* line 25, ../sass/_case_card.scss */
.yellow_border_block {
  width: 100%;
  min-height: 370px;
  padding: 32px 22px 32px 25px;
  border: 3px solid #fff100;
}

/* line 31, ../sass/_case_card.scss */
.yellow_border_block .title3_bd {
  position: relative;
}

/* line 34, ../sass/_case_card.scss */
.yellow_border_block .title3_bd:before {
  content: "";
  width: 19px;
  height: 21px;
  left: -26px;
  top: -3px;
  position: absolute;
  background: url(../images/icons/yellow_arrow_mini.png) 0% 0% no-repeat;
}

/*-------------------  END case_card  -----------------*/
/*-------------------  START specifications  -----------------*/
/* line 2, ../sass/_specifications.scss */
.full_yellow_block {
  border: 3px solid #fff100;
  margin: 0 -38px 30px -38px;
  padding: 33px 35px;
  counter-reset: takepart;
}

/* line 8, ../sass/_specifications.scss */
.col3_box {
  padding-left: 60px;
}

/* line 11, ../sass/_specifications.scss */
.col3_box .title3_bd {
  position: relative;
}

/* line 14, ../sass/_specifications.scss */
.col3_box .title3_bd:after {
  content: counter(takepart);
  counter-increment: takepart;
  width: 44px;
  height: 48px;
  top: -5px;
  left: -60px;
  line-height: 48px;
  padding-left: 12px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/icons/yellow_arrow_mid.png) 50% 50% no-repeat;
}

/* line 30, ../sass/_specifications.scss */
.scroll_box {
  height: 70px;
  overflow-y: auto;
  padding-right: 7px;
}

/*.scroll_box::-webkit-scrollbar { 
	width: 5px;
}
.scroll_box::-webkit-scrollbar-track { 
	background-color: #d2d3d5;
} 
.scroll_box::-webkit-scrollbar-thumb { 
	background-color: #a8a9ad;
} 
.scroll_box::-webkit-scrollbar-thumb:window-inactive { 
	background: rgba(255,0,0,0.4); 
}		*/
/* line 49, ../sass/_specifications.scss */
.specificat_name {
  padding-right: 60px;
  margin-right: 60px;
  border-right: 2px solid #d2d3d5;
}

/* line 54, ../sass/_specifications.scss */
.specificat_name span {
  display: block;
  color: #818284;
}

/* line 63, ../sass/_specifications.scss */
.specificat_mean span {
  display: block;
  color: #58585a;
}

/* line 68, ../sass/_specifications.scss */
.specificat_name span,
.specificat_mean span {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 74, ../sass/_specifications.scss */
.specificat_name span:first-child,
.specificat_name span:last-child,
.specificat_mean span:first-child,
.specificat_mean span:last-child {
  padding-top: 0;
  padding-bottom: 0;
}

/*-------------------  END specifications  -----------------*/
/*-------------------  START background-colors  -----------------*/
/* line 2, ../sass/_text_blocks.scss */
.text1 {
  font-size: 15px;
  line-height: 1.6;
  font-family: 'dinmedium';
}

/* line 8, ../sass/_text_blocks.scss */
[data-skin="grey_gradient"] {
  background-color: #FFF;
  background-image: radial-gradient(circle 729px at center, #ffffff 0%, #e7e7e8 100%);
}

/* line 12, ../sass/_text_blocks.scss */
.b_left {
  border-left: 3px solid #d2d3d5;
  padding-left: 20px;
}

/*-------------------  END background-colors  -----------------*/
/*-------------------  START news  -----------------*/
/* line 3, ../sass/_news_project_components_concepts.scss */
.third_block_wrapper {
  margin: 0 -4.5px;
}

/* line 6, ../sass/_news_project_components_concepts.scss */
.projects_block .third_box {
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e7e8;
}

/* line 11, ../sass/_news_project_components_concepts.scss */
.third_box {
  float: left;
  width: 32.5%;
  margin: 0 4.5px 25px 4.5px;
}

/* line 16, ../sass/_news_project_components_concepts.scss */
.third_box .img_box {
  width: 100%;
  height: 246px;
  margin-bottom: 20px;
  background-color: #FFF;
}

/* line 22, ../sass/_news_project_components_concepts.scss */
.third_box_title {
  height: 80px;
  margin-bottom: 15px;
}

/* line 26, ../sass/_news_project_components_concepts.scss */
.third_box_title2 {
  height: 35px;
  margin-bottom: 20px;
}

/* line 30, ../sass/_news_project_components_concepts.scss */
.third_box p {
  padding-right: 10px;
}

/*-------------------  END news  -----------------*/
/*-------------------  START font-weight  -----------------*/
/* line 3, ../sass/_filter.scss */
.filter_select {
  width: 385px !important;
  /*padding: 14px;*/
  border: 1px solid #d2d3d5;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 10, ../sass/_filter.scss */
.filter_select .jq-selectbox__select-text {
  width: 100% !important;
  color: #a8a9ad;
}

/* line 14, ../sass/_filter.scss */
.jq-selectbox ul {
  box-shadow: 0px 1px 6px #c7c7c7;
}

/*-------------------  END font-weight  -----------------*/
/*-------------------  START Tab blocks  -----------------*/
/* line 3, ../sass/_tab_blocks.scss */
.tabs_block .resp-tabs-list .resp-tab-item:hover,
.tabs_block .resp-tabs-list .resp-tab-active {
  background-color: #fff100;
}

/* line 7, ../sass/_tab_blocks.scss */
.tabs_block .resp-tabs-list,
.single_tab .resp-tabs-list {
  text-align: center;
}

/* line 12, ../sass/_tab_blocks.scss */
.tabs_block .resp-tabs-list li,
.single_tab .resp-tabs-list li {
  width: 282.5px;
  background-color: white;
  border-radius: 4px 4px 0 0;
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  color: #231f20;
  margin: 0 -1px;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  vertical-align: baseline;
}

/* line 29, ../sass/_tab_blocks.scss */
.single_tab .resp-tabs-list {
  margin-bottom: 60px;
  border-bottom: 4px solid #fff100;
}

/* line 33, ../sass/_tab_blocks.scss */
.single_tab .resp-tabs-list li {
  cursor: normal;
  background-color: #fff100;
}

/* line 37, ../sass/_tab_blocks.scss */
.tabs_block .resp-tabs-container {
  border-top: 4px solid #fff100;
  padding: 60px 0;
}

/* line 42, ../sass/_tab_blocks.scss */
.tabs_block .resp-tabs-list .resp-tab-active {
  padding-top: 15px;
}

/* line 46, ../sass/_tab_blocks.scss */
.tab_img_box {
  width: 100%;
  height: 312px;
  text-align: center;
  background-color: #f4f4f4;
}

/* line 52, ../sass/_tab_blocks.scss */
.tab_img_box img {
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/*---------  DISIPLINE BLOCK  ---------*/
/* line 59, ../sass/_tab_blocks.scss */
.discipline_block {
  margin: -52px -1px 0;
}

/* line 62, ../sass/_tab_blocks.scss */
.discipline_box {
  float: left;
  width: 32.5%;
  height: 206px;
  margin: 1px;
  position: relative;
  padding: 122px 10px 20px;
  border: 3px solid #231f20;
  color: #231f20;
  font-size: 15px;
  line-height: 1.3;
  text-align: center;
  font-family: 'din-boldregular';
}

/* line 78, ../sass/_tab_blocks.scss */
.discipline_box:hover {
  color: #FFF;
  background: #231f20 url(../images/diagonal_pattern.png) 0% 0% repeat;
}

/* line 83, ../sass/_tab_blocks.scss */
.discipline_scroll_box {
  height: 223px;
  padding-right: 15px;
  -ms-overflow-y: auto;
  overflow-y: auto;
}

/* line 90, ../sass/_tab_blocks.scss */
.owl_carousel {
  width: 100%;
  text-align: center;
  background-color: #FFF;
  margin-top: 25px;
  border: 1px solid #d2d3d5;
}

/* line 97, ../sass/_tab_blocks.scss */
.discipline_scroll_box + .owl_carousel .owl-pagination {
  position: absolute;
  margin: 0 auto;
  display: inline-block;
  bottom: -48px;
}

/* line 103, ../sass/_tab_blocks.scss */
.discipline_scroll_box + .owl_carousel .owl-page {
  width: 15px;
  height: 15px;
  display: block;
  margin: 0 6px;
  text-align: center;
  display: inline-block;
  border: 1px solid #a8a9ad;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
}

/* line 115, ../sass/_tab_blocks.scss */
.discipline_scroll_box + .owl_carousel .owl-page.active {
  background-color: #a8a9ad;
}

/* line 119, ../sass/_tab_blocks.scss */
.box1:before,
.box2:before,
.box3:before,
.box4:before,
.box5:before,
.box6:before,
.box7:before,
.box8:before,
.box9:before {
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  content: '';
  position: absolute;
}

/* line 136, ../sass/_tab_blocks.scss */
.box1:before {
  background: url(../images/icons/icon_img1.png) 50% 50% no-repeat;
}

/* line 137, ../sass/_tab_blocks.scss */
.box2:before {
  background: url(../images/icons/icon_img2.png) 50% 50% no-repeat;
}

/* line 138, ../sass/_tab_blocks.scss */
.box3:before {
  background: url(../images/icons/icon_img3.png) 50% 50% no-repeat;
}

/* line 139, ../sass/_tab_blocks.scss */
.box4:before {
  background: url(../images/icons/icon_img4.png) 50% 50% no-repeat;
}

/* line 140, ../sass/_tab_blocks.scss */
.box5:before {
  background: url(../images/icons/icon_img5.png) 50% 50% no-repeat;
}

/* line 141, ../sass/_tab_blocks.scss */
.box6:before {
  background: url(../images/icons/icon_img6.png) 50% 50% no-repeat;
}

/* line 142, ../sass/_tab_blocks.scss */
.box7:before {
  background: url(../images/icons/icon_img7.png) 50% 50% no-repeat;
}

/* line 143, ../sass/_tab_blocks.scss */
.box8:before {
  background: url(../images/icons/icon_img8.png) 50% 50% no-repeat;
}

/* line 144, ../sass/_tab_blocks.scss */
.box9:before {
  background: url(../images/icons/icon_img9.png) 50% 50% no-repeat;
}

/* line 146, ../sass/_tab_blocks.scss */
.box1:hover:before {
  background: url(../images/icons/icon_img1_h.png) 50% 30px no-repeat;
}

/* line 147, ../sass/_tab_blocks.scss */
.box2:hover:before {
  background: url(../images/icons/icon_img2_h.png) 50% 30px no-repeat;
}

/* line 148, ../sass/_tab_blocks.scss */
.box3:hover:before {
  background: url(../images/icons/icon_img3_h.png) 50% 30px no-repeat;
}

/* line 149, ../sass/_tab_blocks.scss */
.box4:hover:before {
  background: url(../images/icons/icon_img4_h.png) 50% 30px no-repeat;
}

/* line 150, ../sass/_tab_blocks.scss */
.box5:hover:before {
  background: url(../images/icons/icon_img5_h.png) 50% 30px no-repeat;
}

/* line 151, ../sass/_tab_blocks.scss */
.box6:hover:before {
  background: url(../images/icons/icon_img6_h.png) 50% 30px no-repeat;
}

/* line 152, ../sass/_tab_blocks.scss */
.box7:hover:before {
  background: url(../images/icons/icon_img7_h.png) 50% 30px no-repeat;
}

/* line 153, ../sass/_tab_blocks.scss */
.box8:hover:before {
  background: url(../images/icons/icon_img8_h.png) 50% 30px no-repeat;
}

/* line 154, ../sass/_tab_blocks.scss */
.box9:hover:before {
  background: url(../images/icons/icon_img9_h.png) 50% 30px no-repeat;
}

/*----  tab block2  ----*/
/* line 157, ../sass/_tab_blocks.scss */
.tabs_block2 {
  width: 630px;
}

/* line 160, ../sass/_tab_blocks.scss */
.tabs_block2 .resp-tabs-list {
  text-align: center;
}

/* line 164, ../sass/_tab_blocks.scss */
.tabs_block2 .resp-tabs-list li {
  float: left;
  min-width: 36px;
  margin: 0px 5px;
  padding: 7px 5px;
  text-align: center;
  background-color: #fff100;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/*-------------------  END Tab blocks  -----------------*/
/* line 1, ../sass/_jquery.custom-scrollbar.scss */
.scrollable {
  position: relative;
}

/* line 5, ../sass/_jquery.custom-scrollbar.scss */
.scrollable:focus {
  outline: 0;
}

/* line 9, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .viewport {
  position: relative;
  overflow: hidden;
}

/* line 14, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .viewport .overview {
  position: absolute;
}

/* line 18, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar {
  display: none;
}

/* line 22, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
  width: 5px;
  background-color: #D2D3D5;
}

/* line 30, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%;
}

/* line 35, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar .thumb {
  position: absolute;
}

/* line 39, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px;
  background-color: #A8A9AD;
}

/* line 45, ../sass/_jquery.custom-scrollbar.scss */
.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 10px;
  left: 0;
  background-color: #A8A9AD;
}

/* line 52, ../sass/_jquery.custom-scrollbar.scss */
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Default skin*/
/* line 63, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.default-skin {
  padding-right: 10px;
  padding-bottom: 6px;
}

/* line 68, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.default-skin .scroll-bar.vertical {
  width: 6px;
}

/* line 72, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.default-skin .scroll-bar.horizontal {
  height: 6px;
}

/* line 76, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.default-skin .scroll-bar .thumb {
  background-color: black;
  opacity: 0.4;
  border-radius: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* line 84, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.default-skin .scroll-bar:hover .thumb {
  opacity: 0.6;
}

/*Gray skin*/
/* line 90, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin {
  padding-right: 17px;
}

/* line 94, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin .scroll-bar {
  border: 1px solid gray;
  background-color: #d3d3d3;
}

/* line 99, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin .scroll-bar .thumb {
  background-color: gray;
}

/* line 103, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin .scroll-bar:hover .thumb {
  background-color: black;
}

/* line 107, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin .scroll-bar.vertical {
  width: 10px;
}

/* line 111, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.gray-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}

/*Modern skin*/
/* line 117, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin {
  padding-right: 17px;
}

/* line 121, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar {
  border: 1px solid gray;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-box-shadow: inset 0 0 5px #888;
  -webkit-box-shadow: inset 0 0 5px #888;
  box-shadow: inset 0 0 5px #888;
}

/* line 131, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar .thumb {
  background-color: #95aabf;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #536984;
}

/* line 139, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar.vertical .thumb {
  width: 8px;
  background: -moz-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #95aabf), color-stop(100%, #547092));
  background: -webkit-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -o-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: -ms-linear-gradient(left, #95aabf 0%, #547092 100%);
  background: linear-gradient(to right, #95aabf 0%, #547092 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}

/* line 150, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar.horizontal .thumb {
  height: 8px;
  background-image: linear-gradient(#95aabf, #547092);
  background-image: -o-linear-gradient(#95aabf, #547092);
  background-image: -moz-linear-gradient(#95aabf, #547092);
  background-image: -webkit-linear-gradient(#95aabf, #547092);
  background-image: -ms-linear-gradient(#95aabf, #547092);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}

/* line 160, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar.vertical {
  width: 10px;
}

/* line 164, ../sass/_jquery.custom-scrollbar.scss */
.scrollable.modern-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}
