/*---- START  breadcrumbs  ----*/
	.breadcrumbs{
		padding: 24px;
	}
		.breadcrumbs_item{
			float: left;
			color: #D1D2D4;
			font-size: 14px;
		}
			.breadcrumbs_item_link{
				color: #D1D2D4;
				font-size: 14px;
				position: relative;
				margin-right: 20px;
			}
			.breadcrumbs_item_link:before{
				content: "";
				right: -13px;
				width: 7px;
				height: 7px;
				top: 38%;
				color: #D1D2D4;
				position: absolute;
				background: url(../images/icons/breadcrumbs_arrow.png) 50% 0% no-repeat;
			}

/*---- END  breadcrumbs  ----*/