[data-btn-size="md"]{
	padding: 10px 22px;
	display: inline-block;
	border-radius: 4px;
	font-size: 12px;
	border: 1px solid transparent;
}


[data-btn-skin="white"]{
	border-color: #fff;
	color: #fff;
}

	[data-btn-skin="white"]:hover{
		background-color: #000;
		border-color: #fff100;
	}

	