/*-------------------  START case_card  -----------------*/
	.content_block{
		padding: 80px 0;
	}
		.download_broshure_box{}
			.download_broshure_box .img_box{
				width: 94px;
				height: 120px;
				margin-right: 15px;
			}

			.img_box{text-align: center;}
				.img_box img{
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			.download_broshure_box figcaption{
				float: left;			
				padding-top: 33px;
				max-width: 270px;
			}


		.yellow_border_block{
			width: 100%;
			min-height: 370px;
			padding: 32px 22px 32px 25px;
			border: 3px solid #fff100;
		}
			.yellow_border_block .title3_bd{
				position: relative;
			}
			.yellow_border_block .title3_bd:before{
				content: "";
				width: 19px;
				height: 21px;
				left: -26px;
				top: -3px;
				position: absolute;
				background: url(../images/icons/yellow_arrow_mini.png) 0% 0% no-repeat;
		}
/*-------------------  END case_card  -----------------*/
