/*-----------  START contact_an_expert  -----------*/
	.dark_full_width_block,
	.full_width_block{
		margin: 0 -130px 0;
		min-height: 126px;
		position: relative;
		padding: 40px 15px 12px 125px;
	}
	.full_width_block{
		padding: 23px 113px;
	}
		.dark_full_width_block:before{
			content: "";
			width: 116px;
			height: 140px;
			position: absolute;
			left: 0;
			top: 0;
			background: url(../images/icons/yellow_big_arrow.png) 0% 0% no-repeat;
		}
	.contact_min_box{
		width: 64.7%;
		margin: 0 auto;
	}
		.contact_min_box p{
			width: 55%;
			margin-right: 20px;
		}
		.contact_min_box .btn{
			margin: 10px 0;
		}



/*-----------  END contact_an_expert  -----------*/

	