/*-------------------  START colors  -----------------*/
	[data-color="white"]{
		color: #FFF;
	}
	[data-color="dark"]{
		color: #231f20;
	}
	[data-color="yellow"]{
		color: #fff100;
	}
	[data-color="grey"]{
		color: #58585a;
	}
	[data-color="dark_grey"]{
		color: #242021;
	}
	[data-color="light_grey"]{
		color: #818284;
	}
/*-------------------  END colors  -----------------*/

/*-------------------  START background-colors  -----------------*/
	[data-skin="white"]{
		background-color: #fff;
	}
	[data-skin="yellow"]{
		background-color: #fff100;
	}
	[data-skin="dark"]{
		background-color: #231f20;
	}
	[data-skin="light_grey"]{
		background-color: #e7e7e8;
	}
	[data-skin="light_grey2"]{
		background-color: #a8a9ad;
	}
	[data-skin="grey_gradient"]{
		background-color: #FFF;
		background-image: radial-gradient(circle 729px at center, white 0%, #e7e7e8 100%);
	}
	
/*-------------------  END background-colors  -----------------*/
