@import "compass/utilities/sprites";
$social: sprite-map('social_icons/*.png', $layout: horizontal, $spacing: 25px);
footer{
	background-color: #231f20;
	color: #818284;
	min-height: 500px;
	padding: 70px 0 40px;
}

	footer a{
		color: #fff;
	}


	.social_btns{
		padding: 12px 0 0;
	}
		.social_btns a{
			display: inline-block;
			width: 26px;
			height: 26px;
			margin-right: 28px;
		}

		.linkedin{
			background: sprite($social, linkedin) no-repeat;
		}
		.gplus{
			background: sprite($social, gplus) no-repeat;
		}
		.youtube{
			background: sprite($social, youtube) no-repeat;
		}
	
	.footer_nav li{
		margin-bottom: 27px;
	}
		.footer_nav li:last-child{
			margin-bottom: 0;
		}

	.footer_sm_title{
		padding-bottom: 20px;
		margin-bottom: 20px;
		font-weight: normal;
		border-bottom: 1px solid #59595b;
	}


	.footer_list{
		font-size: 13px;
	}
		.footer_list li{
			margin-bottom: 10px;
		}
			.footer_list a{
				opacity: .4;
			}

			.footer_list a:hover{
				opacity: 1;
			}


	.copyright{
		padding-top: 20px;
	}