header[role="banner"]{
	padding: 0 0 0 0px;
	position: relative;
}

	.logo{
		position: absolute;
		left: 64px;
		top: 0;
		text-align: center;
		width: 292px;
		padding: 24px 0 19px;
	}
		.logo:before{
			display: block;
			position: absolute;
			background-color: #FFF;
			width: 280px;
			height: 100%;
			z-index: 10;
			top: 0;
			left: 0;
			-moz-transform: skewX(32deg);
			-webkit-transform: skewX(32deg);
			-o-transform: skewX(32deg);
			-ms-transform: skewX(32deg);
			transform: skewX(32deg);
			content: "";
		}

		.logo a{
			display: inline-block;
			position: relative;
			z-index: 10;
		}

	.header_search{
		float: right;
		width: calc(100% - 100px);
		background-color: #FFF;
		padding: 4px 115px 4px 20px;
	}

		.header_search_form{
			float: right;
			border: 1px solid #d2d3d5;
			border-radius: 4px;
			width: 231px;
		}
			.header_search_field{
				border: none;
				outline:none;
				float: left;
				height: 28px;
				padding: 3px 0px 3px 10px;
				background: none;
				width: calc(100% - 34px);
			}

			.header_seach_sbm{
				display: block;
				width: 30px;
				height: 28px;
				background: url(../images/header_search_icon.png) 50% 50% no-repeat;
			}

	nav[role="navigation"]{
		float: right;
		height: 50px;
		width: calc(100% - 382px);
		position: relative;
		z-index: 12;
		clear: right;
	}

		nav[role="navigation"]:before{
			display: block;
			position: absolute;
			left: -33px;
			width: 100px;
			top: 0;
			height: 100%;
			border-radius: 8px 0 0 5px;
			-moz-transform: skewX(30deg);
			-webkit-transform: skewX(30deg);
			-o-transform: skewX(30deg);
			-ms-transform: skewX(30deg);
			transform: skewX(30deg);
			background-color: #231f20;
			content: "";
		}


			.menu{
				position: relative;
				z-index: 10;
				padding: 0 0 0 10px;
			}
				.menu>li{
					float: left;
					padding: 17px 20px 14px;
				}

					.menu a{
						color: #fff;
						font-size: 13px;
						display: block;
						text-transform: uppercase;
					}

						.menu a:hover{
							color: #fff100;
						}