.home_top_box{
	position: relative;
}

	.home_top_box_caption{
		position: absolute;
		bottom: 89px;
		left: 0;
		right: 0;
		padding: 15px 20px;
		text-align: center;
		background: url(../images/diagonal_pattern_white.png) 50% 50% repeat;
	}

	.home_top_box_title{
		font-size: 30px;
		line-height: 34px;
		color: #fff;
		text-transform: uppercase;
	}

		.home_top_box_title span{
			display: block;
			color: #fff100;
		}

	.select_search{
		position: absolute;
		width: 470px;
		top: 105px;
		left: 90px;
	}

		.select_search_tabs .resp-tabs-list{
			text-align: center;
		}

		.select_search_tabs .resp-tabs-list li{
			background-color: white;
			border-radius: 4px 4px 0 0;
			display: inline-block;
			padding: 14px 25px 10px;
			color: #000;
			margin: 0 -1px;
			font-size: 13px;
			text-transform: uppercase;
			cursor: pointer;
			vertical-align: baseline;
		}

		.select_search_tabs .resp-tabs-list .resp-tab-item:hover,
		.select_search_tabs .resp-tabs-list .resp-tab-active{
			background-color: #fff100;
		}

		.select_search_tabs .resp-tabs-container{
			border: 4px solid #fff100;
			padding: 60px 77px;
			text-align: center;
		}

		.select_search_tabs .resp-tabs-list .resp-tab-active{
			padding-top: 16px;
		}

		.select_search_sm_title{
			font-size: 18px;
		}