/*-------------------  START news  -----------------*/

	.third_block_wrapper{
		margin: 0 -4.5px;
	}
		.projects_block .third_box{
			padding-bottom: 24px;
			border-bottom: 1px solid #e7e7e8;
		}

		.third_box{
			float: left;
			width: 32.5%;
			margin: 0 4.5px 25px 4.5px;
		}
			.third_box .img_box{
				width: 100%;
				height: 246px;
				margin-bottom: 20px;
				background-color: #FFF;
			}
			.third_box_title{
				height: 80px;
				margin-bottom: 15px;
			}
			.third_box_title2{
				height: 35px;
				margin-bottom: 20px;
			}
				.third_box p{
					padding-right: 10px;
				}

/*-------------------  END news  -----------------*/
