/*-------------------  START specifications  -----------------*/
	.full_yellow_block{
		border: 3px solid #fff100;
		margin: 0 -38px 30px -38px;
		padding: 33px 35px;
		counter-reset: takepart;
	}
		.col3_box{
			padding-left: 60px;
		}
			.col3_box .title3_bd{
				position: relative;
			}
				.col3_box .title3_bd:after{
					content: counter(takepart);
					counter-increment: takepart;
					width: 44px;
					height: 48px;
					top: -5px;
					left: -60px;
					line-height: 48px;
					padding-left: 12px;
					position: absolute;
					-webkit-box-sizing: border-box;
					   -moz-box-sizing: border-box;
					        box-sizing: border-box;
					background: url(../images/icons/yellow_arrow_mid.png) 50% 50% no-repeat;
				}

			.scroll_box{
				height: 70px;
				overflow-y: auto;
				padding-right: 7px;
			}

				/*.scroll_box::-webkit-scrollbar { 
					width: 5px;
				}
				.scroll_box::-webkit-scrollbar-track { 
					background-color: #d2d3d5;
				} 
				.scroll_box::-webkit-scrollbar-thumb { 
					background-color: #a8a9ad;
				} 
				.scroll_box::-webkit-scrollbar-thumb:window-inactive { 
					background: rgba(255,0,0,0.4); 
				}		*/

	.specificat_name{
		padding-right: 60px;
		margin-right: 60px;
		border-right: 2px solid #d2d3d5;
	}
		.specificat_name span{
			display: block;
			color: #818284;
		}


	.specificat_mean{
		
	}
		.specificat_mean span{
			display: block;
			color: #58585a;
		}

		.specificat_name span,
		.specificat_mean span{
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.specificat_name span:first-child,
		.specificat_name span:last-child,
		.specificat_mean span:first-child,
		.specificat_mean span:last-child{
			padding-top: 0;
			padding-bottom: 0;
		}
/*-------------------  END specifications  -----------------*/
