// {behavior:url(js/PIE.htc);position:relative;}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/*-------------------  START titles  -----------------*/
	.title1{
		color: #FFF;
		font-size: 28px;
		line-height: 1.2;
		font-weight: 700;
	}
	.title2{
		font-size: 26px;
		line-height: 1.2;
		font-family: 'din-boldregular';
		text-transform: uppercase;
		
		margin-bottom: 34px;
	}
	.title3_med{
		font-size: 18px;
		line-height: 1.2;
		font-family: 'dinmedium';
	}
	.title3_bd{
		font-size: 18px;
		line-height: 1.2;
		font-family: 'din-boldregular';
	}

	.title4{
		color: #818284;
		font-size: 15px;
		line-height: 1.6;
	}
	.title5{font-size: 14px;line-height: 1.2;}
	.footer_title{
		color: #FFF;
		line-height: 1;
		font-size: 12px;
		padding-bottom: 23px;
		font-family: 'din-boldregular';
		text-transform: uppercase;
		
		border-bottom: 1px solid #59595b;
	}
/*-------------------  END titles  -----------------*/


/*-------------------  START font-weight  -----------------*/

	/*---  DIN fonts  ---*/
		.din_bd{font-family: 'din-boldregular'; font-weight: normal;}
		.din_reg{font-family: 'dinregular'; font-weight: normal;}
		.din_med{font-family: 'dinmedium'; font-weight: normal;}

		.ex_bold{font-weight: 800;}
		.bold{font-weight: 700;}
	

/*-------------------  END font-weight  -----------------*/



/*---- text transform  ----*/
	.tt_upp{text-transform: uppercase;}
	.tt_low{text-transform: lowercase;}
	.tt_cap{text-transform: capitalize;}
